*{box-sizing: border-box;}

#mydialog div {
    display: grid;
    grid-template-columns: auto 44px;
    background-color: #eee;
    padding: 5px;
    border-bottom: 1px solid #aaa;
    align-items: center;
}

#showHere {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

#showHere img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #eee; /* This shows a gray box even if the image fails */
}

#mydialog p {
    padding: 10px;
    width: 300px;
}

#mydialog button {
    width: 44px;
    height: 44px;
}

#mydialog {
    border-radius: 10px;
}

#mydialog h2 {
    padding: 10px;
}