:root {
    --primary-color: #df9f29;
    --secondary-color: #cbb284;
    --accent1-color: white;
    --accent-color: black;
}

body {
    margin: 0 auto;
    padding: 0;
}

/* header */
header {
    display: grid;
    grid-template-columns: 65px auto 44px;
    padding: 10px 0 10px 10px;
    border-bottom: solid 3px var(--secondary-color);
    column-gap: 20px;
    align-items: end;
    background-color: var(--primary-color);
}

header img {
    display: block;
    width: 65px;
    height: auto;
}

header span {
    font-size: 30px;
    font-weight: 600;
    color: var(--accent1-color);
    font-family: 'Times New Roman', Times, serif;
}

/* hamburger */
.hamburger {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    color: var(--accent1-color);
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 3rem;
    color: var(--accent1-color);
}

/* nav */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .9rem 10px;
    text-decoration: none;
    color: var(--accent1-color);
    border-bottom: solid 1px var(--accent1-color);
    background-color: var(--secondary-color);
}

.navigation li.current {
    text-decoration: underline;
    text-decoration-color: var(--accent1-color);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    font-weight: bold;
}

.navigation a:hover {
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

/* footer */
footer {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    color: var(--accent1-color);
    background-color: var(--primary-color);
}

.chamber-info span {
    font-weight: 600;
}

.chamber-info p {
    margin-top: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px 0;
}

.social a {
    width: 48px;
    height: 48px;
}

.social img {
    width: 50px;
    height: 50px;
}

/* cards */
.menu {
    display: none;
    margin: 10px 0;
    justify-content: center;
    gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
}