:root {
    --primary-color: #483107;
    --secondary-color: #554323;
    --accent1-color: white;
    --accent-color: black;
}

@media only screen and (min-width: 680px) {
    header, main, nav, footer {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        align-items: center;
        grid-template-columns: 65px auto;
    }

    /* hamburger and nav */
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        background-color: var(--secondary-color);
    }

    .navigation a {
        background-color: transparent;
        border: none;
    }

    .navigation a:hover {
        background-color: transparent;
        color: var(--accent1-color);
        text-decoration: underline;
        text-decoration-color: var(--accent1-color);
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
    }

    /* main */
    main {
        width: 100%;
    }

    /* footer */
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        align-items: center;
    }

    /* Info */
    .info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .event, .weather, .forecast {
        border: 1px solid var(--secondary-color);
        border-radius: 5px;
        margin: 10px;
    }

}