:root {
    --primany-color: rgb(99, 45, 149);
    --accent-color: rgb(224, 204, 234);
    --font-size: 2rem;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* header */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--primany-color);
}

/* hamburger nav */
.hamburger {
    border: none;
    color: var(--primany-color);
    background-color: transparent;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: var(--font-size);
}

.hamburger.show::before {
    content: "\00D7";
    font-size: var(--font-size);
}

/* nav */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--primany-color);
}

.navigation a {
    display: block;
    padding: .9rem 10px;
    text-decoration: none;
    color: white;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #ddd;
}

.navigation a:hover {
    background-color: var(--accent-color);
    color: var(--primany-color);
}

/* footer */
footer {
    background-color: #ddd;
    padding: 1rem 10px;
    text-align: center;
}

