:root {
    --header-font: "Caveat Brush", cursive, serif;
    --reg-font: "Nunito Sans", sans-serif;
    --primary-color: #a72270;
    --prim-color: #a722702d;
    --secondary-color: #75b154;
    --sec-color: #75b1544a;
    --accent1-color: #030209;
    --accent2-color: #fff;
}