@media only screen and (min-width: 680px) {
    #menu {
        display: none;
    }

    .hamburger {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .navigation ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
        padding: 0;
    }

    .navigation a {
        border-bottom: none;
    }

    nav {
        background-color: var(--primary-color);
        padding: 10px;
    }

    /* hero */
    #hero {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        object-fit: cover; /* Keeps the children from looking stretched */
        height: 500px;
    }

    /* home */
    .about-hummi, .care-provider {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 20px;
        text-align: center;
        text-indent: 20px;
        align-items: center;
        padding-bottom: 20px;
    }

    .about-hummi h1, .care-provider h1 {
        grid-column: 1 / 3;
    }

    .about-hummi img {
        grid-column: 1 / 2;
        width: 100%;
        max-width: 500px;
        height: 500px;
        object-fit: cover;
        object-position: -350px;
    }

    .about-hummi p, .care-provider p {
        margin: 0 10px;
        width: auto;
        max-width: 400px;
    }

    /* enrollment */
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        align-items: start;
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
    }
    .cards h1 {
        grid-column: 1 / span 2; 
        text-align: center;
        margin-bottom: 20px;
    }


}